* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .bayan {
    margin: 30px auto;
    max-width: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  
  .bayan__title {
    padding: 0 20px;
    font-size: 34px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  .bayan__item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }
  
  .bayan__item .item-wrapper:active .item__title {
    color: #0000ff;
  }
  
  .bayan__item .item-wrapper:active .bayan__image {
    opacity: 0.5;
  }
  
  .item-header {
    font: 1.4em sans-serif;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item__title {
    color: #0000ff;
  }
  
  .bayan:hover .item__title {
    color: #000;
  }
  
  .item__btn {
    display: none;
  }
  
  .bayan:hover .item__btn {
    display: block;
  }
  
  .bayan__item:hover .item__btn {
    transition: all 0.2s ease-in-out;
    transform: rotate(45deg);
  }
  
  .bayan-contain {
    display: flex;
    padding: 20px;
  }
  
  .bayan__image {
    width: 0px;
    margin: auto;
    transition: all 0.5s ease;
  }
  
  .bayan__item:hover .bayan__image {
    width: 300px;
  }
  
  .active .bayan__image {
    width: 300px;
  }
  