* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bayan {
  margin: 5vh auto;
  max-width: 65vw;
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.bayan__title {
  padding: 0 3vw;
  font-size: 3em;
  margin-bottom: 2vh;
}

.bayan__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-top: solid #ccc;
}

.item-wrapper {
  cursor: pointer;
}

.bayan__item .item-wrapper:active .item__title {
  color: #0000ff;
}

.item-wrapper:active .bayan__image {
  opacity: 0.5;
}

.item-wrapper:active .item-header .item__btn {
  opacity: 0.5;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked ~ .bayan-contain {
  height: 15em;
  opacity: 1;
  margin-top: 1rem;
}

input[type=radio]:checked ~ .item-header .item__btn {
  transform: rotate(45deg);
}

.item-header {
  font: 2em sans-serif;
  padding: 3vh 3vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__title {
  line-height: 3rem;
  color: #0000ff;
}

.item__btn {
  width: 1.5em;
  height: 1.5em;
  background-image: url(./images/accordion.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.bayan-contain {
  padding: 3vh;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in;
  display: flex;
  justify-content: center;
  margin: 0;
}

@media (hover: hover) {

  .bayan:hover .item__title {
    color: #000;
  }

  .bayan:hover .item__btn {
    visibility: visible;
    opacity: 1;
  }
  
  .bayan__item:hover .item__btn {
    transform: rotate(45deg);
  }

  .bayan__item:hover .bayan-contain {
    margin-top: 1rem;
    height: 15em;
    visibility: visible;
    opacity: 1;
  }

}

@media (min-width: 1920px) {

  .bayan {
    font-size: 2rem;
  }

  .item__title {
    line-height: 6rem;
  }

}

@media (max-width: 820px) {

  .bayan {
    margin: 1.5vh auto;
    max-width: 80vw;
    width: 80vw;
  }

  .bayan__title {
    padding: 0 2vw;
    font-size: 2em;
    margin-bottom: 3vh;
  }

  .item-header {
    padding: 1vh 2vw 0;
    font: 0.9em sans-serif;
  }

  .item__title {
    line-height: 2rem;
  }

  .item__btn {
    width: 1em;
    height: 1em;
    visibility: visible;
    opacity: 1;
  }
}
