* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bayan {
  margin: 5vh auto;
  max-width: 65vw;
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.bayan__title {
  padding: 0 3vw;
  font-size: 3rem;
  margin-bottom: 2vh;
}

.bayan__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-top: 1px solid #ccc;
}

.bayan__item .item-wrapper:active .item__title {
  color: #0000ff;
}

.bayan__item .item-wrapper:active .bayan__image {
  opacity: 0.5;
}

.bayan__item .item-wrapper:active .item__btn {
  opacity: 0.5;
}

.item-header {
  font: 2em sans-serif;
  padding: 3vh 3vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__title {
  line-height: 3rem;
  color: #0000ff;
}

.bayan:hover .item__title {
  color: #000;
}

.item__btn {
  width: 1.5em;
  height: 1.5em;
  background-image: url(./images/accordion.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-in-out;
  display: none;
}

.bayan:hover .item__btn {
  display: block;
}

.bayan__item:hover .item__btn {
  transform: rotate(45deg);
}

.bayan-contain {
  display: flex;
  padding: 3vh;
}

.bayan__image {
  width: 0px;
  margin: auto;
  transition: all 0.5s ease;
}

.bayan__item:hover .bayan__image {
  width: 20vw;
}

.active .bayan__image {
  width: 20vw;
}

.active .item__btn {
  transform: rotate(45deg);
}

@media (max-width: 768px) {

  .bayan {
    margin: 1.5vh auto;
    max-width: 80vw;
    width: 80vw;
  }

  .bayan__title {
    padding: 0 2vw;
    font-size: 2em;
    margin-bottom: 3vh;
  }

  .item-header {
    padding: 1vh 2vw 0;
    font: 0.9em sans-serif;
  }

  .item__title {
    line-height: 2rem;
  }
}
